Package: com.ishijian.devicegps
Name: devicegps
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: perfect
Author: perfect
Section: System
Tag: role::hacker
